/* this holds all 3 drop zones */
#dropzone{
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;   
    /* width: 100%; */
    padding: 10px 10px;
    color: black;
    font-weight: bold;
    /* border: black 2px dotted; */
    
}
/* an individual dropzone */
.dropzone__container{
    position: relative;
    width: 175px;
    height: 100px;
    background-color:#999999;
    border-radius: 10px;
    border: 1px black solid;
    margin-bottom: 10px;
    overflow: hidden;
    display: none;
    object-fit: contain;
}

.dropzone__size{
    position: absolute;
    left: 0px;
    top: 0px;
    width: 100%;
    height: 100%;
    background-color: #333333;
    z-index: 100;
    opacity: .3;
}

.dropzone_img, .dropzone_vid{
    /* width: 100%; */
    height: 100%;
    object-fit: contain;
    overflow: hidden;
    display: none;
}
#dropzone__e{
    width: 333px;
    height: 250px;
    object-fit: contain;
}
#dropzone__l{
    width: 444px;
    height: 250px;
}
#dropzone__p{
    width: 140px;
    height: 250px;
}
.dropzone__container__over{
    border: 3px lightblue dashed;
    /* outline-style: double; */
}

#dropzone__testvid{
    position: absolute;
    left: -10000px;
    top: 0px;
}